@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Preloader */
#preloader {
  background: rgb(33, 101, 128);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader.hide-preloader {
  animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
  display: none;
}

.box {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.box .b {
  border-radius: 50%;
  border-left: 4px solid;
  border-right: 4px solid;
  border-top: 4px solid transparent !important;
  border-bottom: 4px solid transparent !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ro 3s infinite;
}

.box .b1 {
  border-color: #FF9233;
  width: 120px;
  height: 120px;
  animation-delay: 0.1s;
}

.box .b2 {
  border-color: #FF9D47;
  width: 100px;
  height: 100px;
  animation-delay: 0.2s;
}

.box .b3 {
  border-color: #FFBE85;
  width: 80px;
  height: 80px;
  animation-delay: 0.3s;
}

.box .b4 {
  border-color: #FFD3AD;
  width: 60px;
  height: 60px;
  animation-delay: 0.4s;
}

@keyframes ro {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(-180deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes hidePreloader {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* preloader end */
body {
  /* background*/
  background-image: url(ocean-bgimage\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

section a {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: default;
}

.text-hello {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-50% -50%);
  color: transparent;
  -webkit-text-stroke: 4px white;
  font-size: 15rem;
  font-family: 'Merriweather Sans', sans-serif;
  text-shadow: 0px 0px rgb(240, 221, 188);
  transition: all .4s;
  cursor: default;
}

.text-hello:hover {
  text-shadow: 12px 12px rgb(33, 101, 128), 17px 17px rgb(228, 207, 169), 22px 22px 10px rgb(161, 161, 161);
}

.btn {
  width: 170px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background: rgb(240, 236, 188);
  color: rgb(33, 101, 128);
  border: none;
  transition: all .4s;
  font-family: 'Questrial', sans-serif;
  margin-top: 30%;
}

.btn:hover {
  border-radius: 5px;
  transform: translateY(8px);
  background: rgb(33, 101, 128);
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 0 rgb(240, 236, 188), 0 5px 10px rgb(192, 192, 192);
}

/* Website Text */
.AboutThisWebsiteText {
  position: relative;
  padding: 100px;
  background: none;
  font-family: 'Questrial', sans-serif;
}

.AboutThisWebsiteText h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: rgb(80, 75, 67);
}

.AboutThisWebsiteText p {
  font-size: 1.3em;
  color: rgb(80, 75, 67);
}

.AboutThisWebsiteText a {
  font-size: 1em;
  color: rgb(134, 133, 107);
  text-decoration: none;
}

table {
  height: 10px;
  border: 3px;
}

/* Slider  text*/
.AboutThisSliderText {
  width: 500px;
  display: flex;
  position: absolute;
  background: none;
  font-family: 'Questrial', sans-serif;
  right: 5%;
  padding-left: 5%;
  flex-direction: column;
  padding-top: 8%;
}

.AboutThisSliderText h2 {
  font-size: 2.5em;
  color: rgb(80, 75, 67);
}

.AboutThisSliderText p {
  font-size: 1.3em;
  color: rgb(80, 75, 67);
}

.AboutThisSliderText a {
  font-size: 1em;
  color: rgb(134, 133, 107);
  text-decoration: none;
}

/* Button text */
.Image-Text {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 100px;
  padding-top: 120px;
  position: relative;
  background: none;
  font-family: 'Questrial', sans-serif;
}

.card {
  width: 200px;
  height: 300px;
  box-shadow: 0 10px 10px rgb(161, 161, 161);
  background: white;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  position: relative;
  transition: all .4s;
}

.card img {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(161, 161, 161);
  cursor: pointer;
  z-index: 10;
  transition: all .4s;
}

.card:hover img {
  margin-top: -30px;
}

.card:hover {
  width: 210px;
}

.card::before {
  content: 'hello';
  letter-spacing: 0.2em;
  position: absolute;
  bottom: 8px;
  left: 20px;
  color: rgb(51, 51, 51);
  font-size: 0.6em;
}

/* slider */
.slider {
  margin-left: 100px;
  margin-top: 110px;
  margin-bottom: 100px;
  width: 700px;
  height: 400px;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 100%;
  transition: 0.8s;
}

.slide img {
  width: 700px;
  height: 400px;
}

.navigation-manual {
  position: absolute;
  width: 700px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid rgb(240, 221, 188);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: rgb(240, 221, 188);
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -100%;
}

#radio3:checked~.first {
  margin-left: -200%;
}

#radio4:checked~.first {
  margin-left: -300%;
}

/* Automatic slider */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 700px;
  justify-content: center;
  margin-top: 360px;
}

.navigation-auto div {
  border: 2px solid rgb(240, 221, 188);
  padding: 5px;
  border-radius: 10px;
  transition: .8s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1::checked~.navigation-auto .auto-btn1 {
  background: rgb(240, 221, 188);
}

#radio2::checked~.navigation-auto .auto-btn2 {
  background: rgb(240, 221, 188);
}

#radio3::checked~.navigation-auto .auto-btn3 {
  background: rgb(240, 221, 188);
}

#radio4::checked~.navigation-auto .auto-btn4 {
  background: rgb(240, 221, 188);
}

/* comment section */
.container {
  max-width: 86%;
  margin: 100px auto;
  margin-top: 200px;
  background: rgb(240, 221, 188);
  padding: 20px;
}

.comment {
  display: block;
  transition: all .8s;
}

.commentClicked {
  min-height: 0px;
  border: 1px solid rgb(229, 196, 139);
  border-radius: 5px;
  padding: 5px 10px;
  font-family: 'Questrial', sans-serif;
}

.container textarea {
  width: 100%;
  border: none;
  background: rgb(240, 221, 188);
  padding: 5px 10px;
  height: 50%;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 2px solid rgb(33, 101, 128);
  transition: all 0.5s;
  margin-top: 15px;
}

button.primaryContained {
  background: rgb(33, 101, 128);
  color: #fff;
  padding: 10px 10px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 4px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  transition: .6s all;
  font-size: 10px;
  font-family: 'Questrial', sans-serif;
}

button.primaryContained:hover {
  background: rgb(42, 128, 162);
}

/* Footer */
footer {
  background-color: rgb(42, 128, 162);
}

.AboutThisFooterText {
  position: relative;
  padding: 80px;
  padding-top: 50px;
  padding-bottom: 20px;
  background: none;
  font-family: 'Questrial', sans-serif;
}

.AboutThisFooterText p {
  font-size: 1.3em;
  color: rgb(240, 236, 188);
}

/* Footer Logo */
.FooterLogo {
  width: 30px;
  padding: 30px;
  padding-left: 80px;
  padding-bottom: 0px;
  color: transparent;
  -webkit-text-stroke: 2px white;
  font-size: 3rem;
  font-family: 'Merriweather Sans', sans-serif;
  text-shadow: 0px 0px rgb(240, 221, 188);
  transition: all .4s;
  cursor: default;
}

.FooterLogo:hover {
  text-shadow: 8px 5px rgb(33, 101, 128), 13px 10px rgb(228, 207, 169), 18px 15px 10px rgb(161, 161, 161);
}

/* social media */
.footer-icons {
  display: flex;
  align-items: right;
  justify-content: right;
  padding-right: 10%;
  padding-bottom: 0.4%;
}

a .iconify {
  font-size: 55px;
  padding: 20%;
  color: #f8f8f8;
  transition: .4s;
}

.iconify:hover {
  color: rgb(240, 221, 188);
}

/* copyright */
.copyright {
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 20px;
  padding-left: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(240, 221, 188);
}
