/* Large devices | Wide screens */
@media screen and (max-width: 1200px) {
  .text-hello {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    width: 79%;
  }

  .btn {
    width: 195px;
    height: 50px;
    font-size: 1.3em;
    margin-top: 30%;
  }

  .AboutThisSliderText {
    right: 10%;
  }

  .AboutThisSliderText h2 {
    background-color: #ffffff8a;
  }

  .AboutThisSliderText p {
    background-color: #ffffff8a;
  }

  .FooterLogo {
    padding-left: 105px;
  }

  .AboutThisFooterText p {
    padding-left: 27px;
  }

  a .iconify {
    font-size: 70px;
  }

  .copyright {
    padding-left: 105px;
    ;
  }
}

/* Medium devices | Desktops */
@media screen and (max-width: 992px) {
  .btn {
    margin-top: 40%;
  }

  button.primaryContained {
    font-size: 17px;
  }

  .slider {
    margin-left: 140px;
    margin-top: 110px;
    margin-bottom: 100px;
    width: 700px;
    height: 400px;
    overflow: hidden;
  }
}

/* Small devices | Tablets */
@media screen and (max-width: 760px) {}

/* Extra small devices | Phones */
@media screen and (max-width: 480px) {}

/* Custom | Iphone retina */
@media screen and (max-width: 320px) {}